<%= simple_form_for(@unit_usage_example) do |f| %>
  <% if unit_usage_example.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(unit_usage_example.errors.count, "error") %> prohibited this improvement from being saved:</h2>

      <ul>
        <% unit_usage_example.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br>
    <%= render "shared/unit_preview", unit: @unit %>
  <br>

  <div class="col-span-6 sm:col-span-3">
    <%= f.label "Title", class: "block text-sm font-medium text-gray-700" %>
    <%= f.hint 'Describe context of the example.', class: "mt-2 text-sm text-gray-500" %>
    <%= f.input_field :title, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
  </div>
  <br>

  <div class="col-span-6 sm:col-span-3" data-controller="unit_instruction_tinymce">
    <%= f.label "Description", class: "block text-sm font-medium text-gray-700" %>
    <%= f.hint 'Describe example.', class: "mt-2 text-sm text-gray-500" %>
    <%= f.input_field :description, data: { target: 'unit_instruction_tinymce.field' } %>
  </div>
  <br>

  <div class="col-span-6 sm:col-span-3" data-controller="unit_sources_tinymce">
    <%= f.label "Sources (optional)", class: "block text-sm font-medium text-gray-700" %>
    <%= f.hint 'If your method based on any credible sources of information you can add it here.', class: "mt-2 text-sm text-gray-500" %>
    <%= f.input_field :sources, data: { target: 'unit_sources_tinymce.field' } %>
  </div>
  <br>

  <%= f.hidden_field :unit_id, value: @unit.id %>

  <div class="bg-gray-50 px-4 py-3 sm:px-6">
    <div class="text-end">
      <%= link_to "Back to method", unit_unit_version_path(@unit.default_version), class: "py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" %>
      <%= f.button :submit, "Submit usage example", class: "inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
    </div>
  </div>


<% end %>
