<!--dom_id(f.object)-->
<!--<div data-id="<%#= f.object_name.match(/(\d+)]/)[1] %>" class="nested-fields steps-nested-fields" data-new-record="<%#= f.object.new_record? %>">-->
<div class="nested-fields steps-nested-fields" data-target="remote_select_instruction.stepsNestedFields" data-new-record="<%= f.object ? f.object.new_record? : f.object %>">
  <div class="" data-controller="step_accordion">

    <details class="" data-action="toggle->step_accordion#toggle" data-accordion-target="item">
      <summary
        class="flex items-center justify-between w-full p-5 font-medium text-left border border-gray-200 rounded-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 hover:bg-gray-100 dark:hover:bg-gray-800 text-gray-500 dark:text-gray-400">
        <span>Step (regular) <span class="step-position-visible-field" data-target="steps_drag.stepPositionVisibleField">1</span>: Accordion with another icon</span>
        <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 13l-3 3m0 0l-3-3m3 3V8m0 13a9 9 0 110-18 9 9 0 010 18z"></path></svg>
      </summary>

      <div id="" aria-labelledby="accordion-arrow-icon-heading-2">
<!--        <div class="p-5 font-light border border-b-0 border-gray-200 dark:border-gray-700">-->
<!--          <p class="mb-2 text-gray-500 dark:text-gray-400">Flowbite is first conceptualized and designed using the Figma software so everything you see in the library has a design equivalent in our Figma file.</p>-->
<!--          <p class="text-gray-500 dark:text-gray-400">Check out the <a href="https://flowbite.com/figma/" class="text-blue-600 dark:text-blue-500 hover:underline">Figma design system</a> based on the utility classes from Tailwind CSS and components from Flowbite.</p>-->
<!--        </div>-->
        <div class="p-5 font-light border border-b-0 border-gray-200 dark:border-gray-700">
<!--          <div class="nested-fields">-->
          <div class="">

              <%= f.hidden_field :position, class: "step-position-hidden-field", data: { target: 'steps_drag.stepPositionHiddenField'} %>

            <div class="col-span-6 sm:col-span-3">
              <%= f.label "Title", class: "block text-sm font-medium text-gray-700" %>
              <%= f.hint 'Briefly describe context of example.', class: "mt-2 text-sm text-gray-500" %>
              <%= f.hint '"Example of sorting 2 dimensional arrays"', class: "mt-2 text-sm text-gray-500" %>
              <%= f.hint '"Example of cooking 2 dishes at the same time"', class: "mt-2 text-sm text-gray-500" %>
              <%= f.hint '"Example of paying all bills together"', class: "mt-2 text-sm text-gray-500" %>

              <%= f.input_field :title, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
            </div>
            <br>

            <div class="col-span-6 sm:col-span-3" data-controller="unit_instruction_tinymce">
              <%= f.label "Instruction", class: "block text-sm font-medium text-gray-700" %>
              <%= f.hint 'Describe the method by which the problem is solved.', class: "mt-2 text-sm text-gray-500" %>
              <%= f.input_field :instruction, data: { target: 'unit_instruction_tinymce.field' } %>
            </div>
            <br>

            <div class="col-span-6 sm:col-span-3" data-controller="step_finish_check_tinymce">
              <%= f.label "Step finish check(optional)", class: "block text-sm font-medium text-gray-700" %>
              <%= f.hint 'Describe how user can check that he finished this step successfully', class: "mt-2 text-sm text-gray-500" %>
              <%= f.input_field :step_finish_check, data: { target: 'step_finish_check_tinymce.field' } %>
            </div>
            <br>

            <div class="col-span-6 sm:col-span-3" data-controller="unit_instruction_tinymce">
              <%= f.label "Solves the problem", class: "block text-sm font-medium text-gray-700" %>
              <%= f.hint 'Solves the problem', class: "mt-2 text-sm text-gray-500" %>
              <%= f.input_field :solves_the_problem, data: { target: 'unit_instruction_tinymce.field' } %>
            </div>
            <br>

            <div class="col-span-6 sm:col-span-3" data-controller="unit_instruction_tinymce">
              <%= f.label "Sources(optional)", class: "block text-sm font-medium text-gray-700" %>
              <%= f.hint 'Sources', class: "mt-2 text-sm text-gray-500" %>
              <%= f.input_field :sources, data: { target: 'unit_instruction_tinymce.field' } %>
            </div>
            <br>

            <div class="col-span-6 sm:col-span-3" data-controller="unit_instruction_tinymce">
              <%= f.label "Additional information(optional)", class: "block text-sm font-medium text-gray-700" %>
              <%= f.hint 'Additional_information', class: "mt-2 text-sm text-gray-500" %>
              <%= f.input_field :additional_information, data: { target: 'unit_instruction_tinymce.field' } %>
            </div>
            <br>

            <%= f.hidden_field :type, value: Steps::TypeTypes[:regular] %>

            <%= f.hidden_field :_destroy %>


            <!-- actual only for dynamic substeps-->
            <%= f.hidden_field 'current_step_frontend_id', data: { target: 'dynamic_step_form.currentStepFrontendId'}  %>
            <%= f.hidden_field 'parent_id_dynamic_step', data: { target: 'dynamic_step_form.parentOfDynamicStep'}  %>


            <!--            SUBNESTED FORM -->
            <!--            SUBNESTED FORM -->
            <!--            SUBNESTED FORM -->
            <div class="">
              <div class="subnested-form">

                <div class="col-span-6 sm:col-span-3">
                  <p class="text-xl font-bold hover:text-gray-700">Substeps:</p>
                  <p class="mt-2 text-sm text-gray-500">SubSteps will go right after instruction if it's provided. SubSteps are designed to use Algorithms and Units as reusable instructions. Click on substep and move up or down to change position in the substeps list.</p>
                </div>
                <br>
                <br>

                <div data-controller="remote_select_instruction algorithm_step_type_select steps_nested_form"
                     data-drag-url="/todos/:id/move"
                     data-target="remote_select_instruction.stepsArea"
                     data-remote_select_instruction-select-type-value="algorithm_form_wrapper_step_addition"
                >

                  <!--  ghost-class means we will get template by get request from server-->

                  <!--    // Temlate 1 regular step-->
                  <template style="display:none;" class="ghost-class" data-value="regular_step" data-target='steps_nested_form.regularStepFieldsTemplate'>
                  </template>

                  <!--    // Temlate 2 wrapper step-->
                  <template style="display:none;" class="ghost-class" data-value="wrapper_step" data-target='steps_nested_form.wrapperStepFieldsTemplate'>
                  </template>

                  <!--    // Template 3 container step-->
                  <template style="display:none;" class="ghost-class" data-value="container_step" data-target='steps_nested_form.containerStepFieldsTemplate'>
                  </template>

                  <!--    <div data-target="substeps_drag.substepsArea">-->
                  <!--      data-target="substeps_drag.substepsArea"-->

                  <div data-controller="steps_drag" data-target="steps_drag.stepsArea">
                    <%#= form.fields_for :steps, algorithm_version.steps.order(position: :asc) do |t| %>
                    <%= f.fields_for :substeps do |step| %>
                      <% if Steps::TypeTypes[step.object[:type]] == "regular" %>
                        <%= render "algorithm/shared/partials/steps/regular_step_fields", :f => step %>
                      <% elsif Steps::TypeTypes[step.object[:type]] == "wrapper" %>
                        <%= render "algorithm/shared/partials/steps/wrapper_step_fields", :f => step %>
                      <% elsif Steps::TypeTypes[step.object[:type]] == "container" %>
                        <%= render "algorithm/shared/partials/steps/container_step_fields", :f => step %>
                      <% end %>
                    <% end %>

                    <div data-target="steps_nested_form.add_item">

                      <button data-action="click->steps_nested_form#add_association"
                              data-step-type="regular_step"
                              data-target="algorithm_step_type_select.addRegularStepOriginalButton"
                              class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800"
                              type="button"
                              style="display:none;"
                      >
                        <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                          + Add new regular step
                        </span>
                      </button>

                      <button data-action="click->steps_nested_form#add_association"
                              data-step-type="wrapper_step"
                              data-target="algorithm_step_type_select.addWrapperStepOriginalButton remote_select_instruction.addWrapperStepOriginalButton"
                              class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800"
                              type="button"
                              style="display:none;"
                      >
                        <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                          + Add new "wrapper" step
                        </span>
                      </button>

                      <!--      container step original button -->
                      <button data-action="click->steps_nested_form#add_association"
                              data-step-type="container_step"
                              data-target="algorithm_step_type_select.addContainerStepOriginalButton"
                              class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800"
                              type="button"
                              style="display:none;"
                      >
                        <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                          + Add new "Container" Step
                        </span>
                      </button>

                    </div>

                  </div>

                  <%= render "algorithm/shared/partials/shared/step_type_select_modal" %>
                  <%= render "shared/technologies_search/modal", :type => "algorithm_form_wrapper_step_addition" %>

                </div>

              </div>
            </div>
            <!--            SUBNESTED FORM -->
            <!--            SUBNESTED FORM -->
            <!--            SUBNESTED FORM -->


            <br>
            <div class="bg-zinc-50 px-4 py-3 sm:px-6">
              <div class="text-end">
                <button
                  data-action="click->steps_nested_form#remove_association"
                  type="button"
                  class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
                  Delete
                </button>
              </div>
            </div>

            <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">

          </div>
        </div>
        <hr class="w-48 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700">
      </div>
    </details>
  </div>
  <br>
</div>






