<div
  class="relative block p-8 overflow-hidden border bg-white border-slate-100 rounded-lg ml-6 mr-6"
  id="attribute-<%=simple_class_attribute.uniq_key%>"
>
  <span
    class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-green-300 via-blue-500 to-purple-600"
  ></span>

  <div class="justify-between sm:flex">
    <div>
      <h5 class="text-xl font-bold text-slate-900">
        <%= simple_class_attribute.title %>
      </h5>
    </div>
    <div>
      <%= link_to edit_simple_class_simple_class_attribute_path(simple_class_attribute.id),
                  class: "relative z-10 flex items-center p-2 text-sm text-gray-600 bg-white border border-blue-500 rounded-md focus:border-blue-500 focus:ring-opacity-40 dark:focus:ring-opacity-40 focus:ring-blue-300 dark:focus:ring-blue-400 focus:ring dark:text-white dark:bg-gray-800 focus:outline-none py-2.5 px-2" do %>
        Edit
        <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
        </svg>
      <% end %>
    </div>
  </div>

  <div class="mt-4 sm:pr-8">
    <div class="text-sm text-slate-500">
      <%= simple_class_attribute.description.html_safe %>
    </div>
  </div>

  <!--  article section -->
  <% if simple_class_attribute.article.present? %>
  <dl class="mt-6">
    <div class="block text-sm font-medium text-gray-700 pb-4">
      Attached Article:
    </div>

    <div class="block text-sm font-medium text-gray-700">
      <div class="linked-article-preview">
        <%= render "article/articles/previews/basic_preview", :article => simple_class_attribute.article %>
      </div>

<!--      <div data-controller="simple_class_attribute_preview"-->
<!--           data-simple_class_attribute_preview-preview-type-value="simple_class_attributes_list"-->
<!--           data-simple_class_attribute_preview-article-id-value="<%#= simple_class_attribute.try(:article).try(:id) %>>"-->
<!--      >-->
<!--        <div class="attribute-preview" data-target="simple_class_attribute_preview.attributePreviewContainer">-->
              <!-- place for injecting preview of article -->
<!--        </div>-->
<!--        <br>-->
<!--      </div>-->

    </div>
  </dl>
  <% end %>

  <!--actions section -->
  <% if simple_class_attribute.actions.any? %>
    <dl class="mt-6">
      <div class="block text-sm font-medium text-gray-700 pb-4">
        Linked Actions:
      </div>

      <div class="block text-sm font-medium text-gray-700">
        <% simple_class_attribute.actions.each do |action| %>
          <div class="linked-action-preview">
            <!-- place for injecting preview of article -->
            <%= render "interface_members/preview/regular", :action => action.memberable %>
          </div>
          <br>
          <% end %>
      </div>
    </dl>
  <% end %>

</div>
<br>
