<% path = @interface_group.new_record? ? simple_class_interface_groups_path : simple_class_interface_group_path %>
<% method = @interface_group.new_record? ? :post : :patch %>
<%= simple_form_for(@interface_group, url: path, method: method) do |f| %>

  <% if @interface_group.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(@interface_group.errors.count, "error") %> prohibited this Algorithm from being saved:</h2>

      <ul>
        <% @interface_group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <div class="col-span-6 sm:col-span-3">
      <%= f.label "Title", class: "block text-sm font-medium text-gray-700" %>
      <%= f.hint 'Whats this group does? Method to analyze project, methods to create new version of project, methods predict changes in project in future', class: "mt-2 text-sm text-gray-500" %>
      <%= f.input_field :title,
                        required: true,
                        class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm",
                        placeholder: "Ex: Methods on How you can install Ruby on Rails on different virtual machines" %>
    </div>
    <br>

    <div class="col-span-6 sm:col-span-3">
      <%= f.label "Description", class: "block text-sm font-medium text-gray-700" %>
      <%= f.hint 'Here you can describe what unites actions together in this group and how they can be used',
                 class: "mt-2 text-sm text-gray-500" %>
      <%= f.input_field :description,
                        required: false,
                        class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm",
                        placeholder: "Ex: Using Method from this group you should be able to set your development environment which the latest solutions for Ruby on Rails Developer" %>
    </div>
    <br>

    <%= hidden_field_tag :target_simple_class, @target_simple_class.try(:id) %>

    <!-- technologies nested form goes here -->
    <%= render "simple_class/interface_groups/partials/actions/actions_nested_form", :form => f %>

  </div>


  <div class="bg-gray-50 px-4 py-3 sm:px-6">
    <div class="text-end">
      <% if @interface_group.new_record? %>
        <%= link_to "Back to Class", simple_class_path(ownername: @target_simple_class.owner, id: @target_simple_class.id),
                    class: "py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" %>
      <% else %>
        <% binding.pry %>
        <% simple_class = simple_class_for(@interface_group) %>
        <%= link_to "Back to Class", simple_class_path(ownername: simple_class.owner, id: simple_class.id),
                    class: "py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" %>
      <% end %>

      <% button_text = @interface_group.new_record? ? "Create Actions Group" : "Update Actions Group" %>
      <%= f.button :submit, button_text,
                   class: "inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
    </div>
  </div>

<% end %>
