<div id='accordion-collapse-<%= "node#{node.id}" %>' class="st-accordion"
     data-controller="node_accordion"
     data-node_accordion-target-content-card-id-value="accordion-collapse-body-<%= "node#{node.id}" %>"

     data-node_accordion-initial-state-value="opened"

     data-node_accordion-header-opened-class-value="flex items-center justify-between w-full p-5 font-medium text-left border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 hover:bg-gray-100 dark:hover:bg-gray-800 bg-gray-100 dark:bg-gray-800 text-gray-900 dark:text-white"
     data-node_accordion-header-closed-class-value="flex items-center justify-between w-full p-5 font-medium text-left border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 hover:bg-gray-100 dark:hover:bg-gray-800 text-gray-500 dark:text-gray-400"

     data-node_accordion-header-svg-closed-class-value="w-6 h-6 shrink-0"
     data-node_accordion-header-svg-opened-class-value="w-6 h-6 shrink-0 rotate-180"

     data-node_accordion-content-opened-class-value=""
     data-node_accordion-content-closed-class-value="hidden"

     data-action="increase-height@window->node_accordion#increaseHeightOfParent reduce-height@window->node_accordion#reduceHeightOfParent"
>

  <!--  header section-->
  <div id="accordion-collapse-heading-<%= "node#{node.id}" %>">
    <button type="button"
            class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800"
            data-action="node_accordion#toggle"
            data-target="node_accordion.headerButton"
    >
      <span><%= "# Move №#{node.position}: #{node.title}" %></span>
      <svg data-target="node_accordion.headerSvg" class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </button>

  </div>

  <!--  content section-->
  <div id="accordion-collapse-body-<%= "node#{node.id}" %>" class="hidden" data-target="node_accordion.targetContentCard">
    <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900 bg-white">

      Description:
      <div class="break-words">
        <%= node.try(:description).try(:html_safe) %>
      </div>

      Instruction:
      <div class="break-words">
        <%= node.try(:instruction).try(:html_safe) %>
      </div>

      <!--  TODO: add other fields if they exits -->

    </div>

    <div class="flex justify-center items-center w-full p-5 rounded-t-xl font-medium text-gray-500 dark:text-gray-400">
      <button type="button"
              href='#accordion-collapse-<%= "node#{node.id}" %>'
              class="scroll-to-top-node-button text-purple-700 hover:text-white border border-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-purple-400 dark:text-purple-400 dark:hover:text-white dark:hover:bg-purple-500 dark:focus:ring-purple-900"
              data-action="click->scroll_to_step_beginning#scroll"
              data-anchor="#accordion-collapse-<%= "node#{node.id}" %>"
      >
        Scroll to the step beginning
      </button>
    </div>

  </div>
</div>


<!--<div class="st-accordion" data-controller="accordion">-->
<!--  <div><a href="#content1" class="st-accordion__icon" data-action="accordion#toggle">Content 1</a></div>-->
<!--  <div class="st-accordion__content" data-accordion-id="content1">-->
<!--    <p>content 1</p>-->
<!--  </div>-->
<!--  <div><a href="#content2" class="st-accordion__icon" data-action="accordion#toggle">Content 2</a></div>-->
<!--  <div class="st-accordion__content" data-accordion-id="content2">-->
<!--    <p>content 2</p>-->
<!--  </div>-->
<!--</div>-->








<!--<div id='accordion-collapse-<%#= "node#{node.id}" %>' data-accordion="open">-->

<!--  <div id="accordion-collapse-heading-<%#= "node#{node.id}" %>">-->
<!--    <button type="button"-->
<!--            class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800"-->
<!--            data-accordion-target="#accordion-collapse-body-<%#= "node#{node.id}" %>"-->
<!--            aria-expanded="true"-->
<!--            aria-controls="accordion-collapse-body-<%#= "node#{node.id}" %>">-->
<!--      <span><%#= "# Move №#{node.position}: #{node.title}" %></span>-->
<!--      <svg data-accordion-icon class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>-->
<!--    </button>-->
<!--  </div>-->

<!--  <div id="accordion-collapse-body-<%#= "node#{node.id}" %>" class="hidden" aria-labelledby="accordion-collapse-heading-<%#= "node#{node.id}" %>">-->
<!--    <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900 bg-white">-->

<!--      <div class="break-words">-->
        <%#= node.try(:instruction).try(:html_safe) %>
<!--      </div>-->

<!--    </div>-->

<!--    <div class="flex justify-center items-center w-full p-5 rounded-t-xl font-medium text-gray-500 dark:text-gray-400">-->
<!--      <button type="button"-->
<!--              href='#accordion-collapse-<%#= "node#{node.id}" %>'-->
<!--              class="scroll-to-top-node-button text-purple-700 hover:text-white border border-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-purple-400 dark:text-purple-400 dark:hover:text-white dark:hover:bg-purple-500 dark:focus:ring-purple-900"-->
<!--              data-action="click->scroll_to_step_beginning#scroll"-->
<!--              data-anchor="#accordion-collapse-<%#= "node#{node.id}" %>"-->
<!--      >-->
<!--        Scroll to the step beginning-->
<!--      </button>-->
<!--    </div>-->

<!--  </div>-->

<!--</div>-->










<!--    // example how it was before change -->
<!--    <div id="accordion-collapse-heading-2">-->
<!--      <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#accordion-collapse-body-2" aria-expanded="false" aria-controls="accordion-collapse-body-2">-->
<!--        <span>Is there a Figma file available?</span>-->
<!--        <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>-->
<!--      </button>-->
<!--    </div>-->
<!--    <div id="accordion-collapse-body-2" class="hidden" aria-labelledby="accordion-collapse-heading-2">-->
<!--      <div class="p-5 border border-gray-200 dark:border-gray-700">-->
<!--        <p class="mb-2 text-gray-500 dark:text-gray-400">Flowbite is first conceptualized and designed using the Figma software so everything you see in the library has a design equivalent in our Figma file.</p>-->
<!--        <p class="text-gray-500 dark:text-gray-400">Check out the <a href="https://flowbite.com/figma/" class="text-blue-600 dark:text-blue-500 hover:underline">Figma design system</a> based on the utility classes from Tailwind CSS and components from Flowbite.</p>-->
<!--      </div>-->
<!--    </div>-->