<div id="<%= dom_id class_container %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= class_container.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= class_container.description %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this class container", class_container, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this class container', edit_class_container_path(class_container), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
