<%#= simple_form_for(@algorithm_version, url: wizard_path(id: step, algorithm_version_id: @algorithm_version.slug), method: :put) do |f| %>
<%#= simple_form_for(@algorithm_version, url: wizard_path(id: step, version_id: @algorithm_version.slug), method: :put) do |f| %>
<%#= simple_form_for(@algorithm, url: wizard_path(id: step, version_id: @algorithm_version.slug), method: :put) do |f| %>


<%#= simple_form_for(@algorithm, url: wizard_path(step.to_s, algorithm_version_id: @algorithm_version.slug), method: :put) do |f| %>

<%= simple_form_for(@algorithm,
                      url: simple_algorithm_version_creation_path(
                        algorithm_id: @algorithm.id,
                        wizard_id: step.to_s,
                        algorithm_version_id: @algorithm_version.slug
                      ),
                      method: :put) do |f| %>

  <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-1xl sm:tracking-tight text-center">Step 1: Base Configurations</h2>

  <% [@algorithm, @algorithm_version, @algorithm_tree, @root_leafe, @permission].each do |entity| %>
    <% if entity.try(:errors).present? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(entity.errors.count, "error") %> prohibited this Combo Tutorial from being saved:</h2>

        <ul>
          <% entity.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>

  <div class="form-inputs">
    <div class="col-span-6 sm:col-span-3">
      <%= f.label "Title", class: "block text-sm font-medium text-gray-700" %>
      <%= f.hint 'What this algorithm does? What this algorithm changes, modifies? What task this algorithm performs? This title should unite all versions of algorithm', class: "mt-2 text-sm text-gray-500" %>
      <%= f.input_field :title,
                        required: true,
                        class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm",
                        placeholder: "Ex: How to install Ruby on Rails on your Desktop" %>
    </div>
    <br>

    <div class="col-span-6 sm:col-span-3">
      <%= f.label "Source page description", class: "block text-sm font-medium text-gray-700" %>
      <%= f.hint 'Thats the description which will be shown on the top of the source page',
                 class: "mt-2 text-sm text-gray-500" %>
      <%= f.input_field :source_page_description,
                        required: false,
                        class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm",
                        placeholder: "Ex: Different versions on how you can install Ruby on Rails on different environments" %>
    </div>
    <br>

    <div class="col-span-6 sm:col-span-3" data-controller="tags">
      <%= f.label "Tags", class: "block text-sm font-medium text-gray-700" %>
      <%= f.hint "It is recommended to use no more than 5 tags. The maximum number is 8. Tags are separated by a comma.",
                 class: "mt-2 text-sm text-gray-500" %>
      <%= f.input_field :tag_list,
                        required: false,
                        class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5",
                        placeholder: "write some tags",
                        data: {target: "tags.output"} %>
    </div>
    <br>

    <%= f.hidden_field :functional_type, value: @algorithm.functional_type %>

    <%# binding.pry %>
    <%#= f.hidden_field :simple_class_id, value: @simple_class.try(:id) %>

    <%= render "shared/form_partials/target_place" %>

    <!--    <div class="col-span-6 sm:col-span-3" data-controller="unit_instruction_tinymce">-->
    <%#= f.label "Description", class: "block text-sm font-medium text-gray-700" %>
    <%#= f.hint 'Describe algorithm', class: "mt-2 text-sm text-gray-500" %>
    <%#= f.input_field :description, data: { target: 'unit_instruction_tinymce.field' } %>
    <!--    </div>-->
    <!--    <br>-->

  </div>

  <div class="mt-6 flex justify-end">
    <%= f.button :submit, "Continue to Onboarding Invitation ➔", class: "bg-indigo-600 text-white font-bold px-5 py-2.5 rounded-xl hover:bg-indigo-700 transition" %>
  </div>
<% end %>
