<div id="<%= dom_id cheat_sheet %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= cheat_sheet.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= cheat_sheet.description %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this cheat sheet", cheat_sheet, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this cheat sheet', edit_cheat_sheet_path(cheat_sheet), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
