<div class="p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <div class="container flex flex-wrap items-center justify-end mx-auto space-x-2">

    <div class="flex md:order-2 space-x-2">
      <!--      we setting target_folder params dynamically using 'technologies' controller-->
      <%= link_to "Add new component", new_shared_class_layer_class_container_path(target_class_container: class_container.uuid),
                  id: "new-component-addition-button",
                  class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"%>

      <%= link_to "Edit current component", edit_shared_class_layer_class_container_path(class_container: class_container),
                  id: "edit-current-component-button",
                  class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"%>

      <%= link_to "Delete current component", shared_class_layer_class_container_path(class_container: class_container), method: :delete,
                  id: "delete-current-component-button",
                  class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"%>

      <% if ClassContainers::BelongsToStructureTypes[class_container.belongs_to_structure_type] == "belongs_to_simple_class" %>
        <!-- interface groups actions -->
        <%= link_to "Add new Interface group", new_shared_class_layer_interface_group_path(target_class_container: class_container.uuid),
                    id: "new-component-addition-button",
                    class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"%>
      <% end %>

    </div>

    <div class="flex md:order-2">
      <%#= link_to "Add new technology", new_article_article_path, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>

      <% binding.pry %>
      <% if ClassContainers::BelongsToStructureTypes[class_container.belongs_to_structure_type] == "belongs_to_simple_class" %>
        <%= render "technologies/add_new_technology_options_modal", target: class_container %>
      <% elsif ClassContainers::BelongsToStructureTypes[class_container.belongs_to_structure_type] == "belongs_to_framework" %>
        <%= render "technologies/add_simple_class_to_framework_options_modal", target: class_container %>
      <% end %>


    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
      <ul class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a href="#" class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white" aria-current="page">Dynamic Search bar with input</a>
        </li>
        <li>
          <a href="#" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">About</a>
        </li>
        <li>
          <a href="#" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Services</a>
        </li>
        <li>
          <a href="#" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</div>