<!--<div data-id="<%#= f.object_name.match(/(\d+)]/)[1] %>" class="nested-fields steps-nested-fields" data-new-record="<%#= f.object.new_record? %>">-->
<div class="nested-fields steps-nested-fields" data-new-record="<%= f.object ? f.object.new_record? : f.object %>">
  <div class="" data-controller="step_accordion">

    <details class="" data-action="toggle->step_accordion#toggle" data-accordion-target="item">
      <summary
        class="flex items-center justify-between w-full p-5 font-medium text-left border border-gray-200 rounded-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 hover:bg-gray-100 dark:hover:bg-gray-800 text-gray-500 dark:text-gray-400">
        <span>Step (wrapper) <span class="step-position-visible-field">1</span>: Accordion with another icon</span>
        <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 13l-3 3m0 0l-3-3m3 3V8m0 13a9 9 0 110-18 9 9 0 010 18z"></path></svg>
      </summary>

      <div id="" aria-labelledby="accordion-arrow-icon-heading-2">
        <!--        <div class="p-5 font-light border border-b-0 border-gray-200 dark:border-gray-700">-->
        <!--          <p class="mb-2 text-gray-500 dark:text-gray-400">Flowbite is first conceptualized and designed using the Figma software so everything you see in the library has a design equivalent in our Figma file.</p>-->
        <!--          <p class="text-gray-500 dark:text-gray-400">Check out the <a href="https://flowbite.com/figma/" class="text-blue-600 dark:text-blue-500 hover:underline">Figma design system</a> based on the utility classes from Tailwind CSS and components from Flowbite.</p>-->
        <!--        </div>-->
        <div class="p-5 font-light border border-b-0 border-gray-200 dark:border-gray-700">
          <!--          <div class="nested-fields">-->
          <div class="">

            <%= f.hidden_field :position, class: "step-position-hidden-field" %>

            <div class="col-span-6 sm:col-span-3">
              <%= f.label "Title", class: "block text-sm font-medium text-gray-700" %>
              <%= f.hint 'Briefly describe context of example.', class: "mt-2 text-sm text-gray-500" %>
              <%= f.hint '"Example of sorting 2 dimensional arrays"', class: "mt-2 text-sm text-gray-500" %>
              <%= f.hint '"Example of cooking 2 dishes at the same time"', class: "mt-2 text-sm text-gray-500" %>
              <%= f.hint '"Example of paying all bills together"', class: "mt-2 text-sm text-gray-500" %>

              <%= f.input_field :title, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
            </div>
            <br>

            <div class="col-span-6 sm:col-span-3">
              <%= f.label "Note", class: "block text-sm font-medium text-gray-700" %>
              <%= f.hint "Recommendations how to use substep attachemnt", class: "mt-2 text-sm text-gray-500" %>
              <%= f.input_field :note, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
            </div>
            <br>

            <div class="col-span-6 sm:col-span-3" data-controller="step_finish_check_tinymce">
              <%= f.label "Step finish check(optional)", class: "block text-sm font-medium text-gray-700" %>
              <%= f.hint 'Describe how user can check that he finished this step successfully', class: "mt-2 text-sm text-gray-500" %>
              <%= f.input_field :step_finish_check, data: { target: 'step_finish_check_tinymce.field' } %>
            </div>
            <br>

            <div class="col-span-6 sm:col-span-3" data-controller="unit_instruction_tinymce">
              <%= f.label "Additional information(optional)", class: "block text-sm font-medium text-gray-700" %>
              <%= f.hint 'Additional_information', class: "mt-2 text-sm text-gray-500" %>
              <%= f.input_field :additional_information, data: { target: 'unit_instruction_tinymce.field' } %>
            </div>
            <br>

            <%= f.hidden_field :type, value: Steps::TypeTypes[:wrapper] %>

            <%= f.hidden_field :_destroy %>

            <%= render "algorithm/shared/partials/substeps/substeps_nested_form", :form => f %>

            <br>
            <div class="bg-zinc-50 px-4 py-3 sm:px-6">
              <div class="text-end">
                <button
                  data-action="click->steps_nested_form#remove_association"
                  type="button"
                  class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
                  Delete
                </button>
              </div>
            </div>

            <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">

          </div>
        </div>
        <hr class="w-48 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700">
      </div>
    </details>
  </div>
  <br>
</div>






