<!-- TODO: Write settings object which will have type, button description, search engine fields, TechnologySearchSettings-->
<!--we initialize it by type of search and then use it in all templates in tech search-->

<div class="select-technology-modal">
  <div data-controller="select_instruction_modal"
       data-select_instruction_modal-allow-background-close="false"
       data-target="remote_select_instruction.instructionModalInstance remote_select_attachment.instructionModalInstance remote_select_link_attachment.instructionModalInstance remote_select_cheat_sheet_group_section.instructionModalInstance">
    <!--      <a href="#" data-action="click->modal#open" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded">-->
    <!--        <span>Open Modal</span>-->
    <!--      </a>-->

    <!--  <button data-action="click->select_instruction_modal#open"-->
    <!--          class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">-->
    <!--    Toggle modal-->
    <!--  </button>-->

    <% if type == "algorithm_form_wrapper_step_addition" %>
      <button
        type="button"
        data-target="algorithm_step_type_select.wrapperStepAdditionButton"
        data-action="click->select_instruction_modal#open"
        class="hidden relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
              <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                Open Modal for Adding Wrapper Step Button
              </span>
      </button>
    <% else %>
      <button
        data-action="click->select_instruction_modal#open"
        class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
              <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">

                <% if type == "substep_addition" %>
                  Add SubStep
                <% elsif type == "dpo_instruction_select" && scenario == "instruction_not_selected"  %>
                  Select Method or Algorithm
                <% elsif type == "dpo_instruction_select" && scenario == "instruction_was_previously_selected"  %>
                  Pick another Method or Algorithm
                <% elsif type == "interface_member_addition" || type == "interface_group_form_action_addition" %>
                  Add Action
                <% elsif type == "container_member_addition" %>
                  Add children class
                <% elsif type == "folder_item_addition" %>
                  Add Technology
                <% elsif type == "simple_class_attribute_addition" %>
                  Add Attribute
                <% elsif type == "simple_class_attribute_form_article_addition" %>
                  Select Article
                <% elsif type == "simple_class_form_article_to_attribute_attachment" %>
                  Add Article
                <% elsif type == "step_attachment_addition" ||
                         type == "unit_version_attachment_addition" ||
                         type == "article_version_attachment_addition" %>
                  Add Attachment
                <% elsif type == "cheat_sheet_version_notes_link_attachment_addition" %>
                  Add Link
                <% elsif type == "cheat_sheet_group_version_section_addition" %>
                  Add Section
                <% end %>
              </span>
      </button>
    <% end %>



    <!-- Modal Container -->
    <div data-select_instruction_modal-target="container"
         data-action="click->select_instruction_modal#closeBackground keyup@window->select_instruction_modal#closeWithKeyboard"
         class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center" style="z-index: 9999;">
      <!-- Modal Inner Container -->
      <!--    <div id="instructionUnitsAutocompleteModal" class="fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">-->
      <div id="selectInstructionModal" class="fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full justify-center items-center flex">
        <div class="relative w-full max-w-4xl max-h-full">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">


            <!-- Modal header -->
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
              <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                <% if type == "substep_addition" %>
                  Select Method or Algorithm as Substep
                <% elsif type == "dpo_instruction_select" %>
                  Select Method or Algorithm as Instruction
                <% elsif type == "interface_member_addition" %>
                  Select Action
                <% elsif type == "container_member_addition" %>
                  Select Class
                <% elsif type == "folder_item_addition" %>
                  Select technology
                <% elsif type == "algorithm_form_wrapper_step_addition" %>
                  Wrapper step addition
                <% elsif type == "interface_group_form_action_addition" %>
                  Select Action
                <% elsif type == "simple_class_attribute_addition" ||
                         type == "simple_class_attribute_form_article_addition" ||
                         type == "step_attachment_addition" ||
                         type == "simple_class_form_article_to_attribute_attachment" ||
                         type == "unit_version_attachment_addition" ||
                         type == "article_version_attachment_addition"
                %>
                  Select Article
                <% elsif type == "cheat_sheet_version_notes_link_attachment_addition" %>
                  Select technology
                <% elsif type == "cheat_sheet_group_version_section_addition" %>
                  Select Cheat Sheet
                <% end %>
              </h3>
              <button type="button" data-action="click->select_instruction_modal#close" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                <span class="sr-only">Close modal</span>
              </button>
            </div>

            <!-- Modal body -->
            <div class="p-6 space-y-6">
              <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                <% if type == "substep_addition" %>
                  In this popup you can use different types of search to find Methods or Algorithms to add it as substeps to your algorithm.
                <% elsif type == "dpo_instruction_select" %>
                  In this popup, you can use different types of search to find Methods or Algorithms for adding as instruction for the decision process object.
                <% elsif type == "interface_member_addition" %>
                  In this popup, you can use different types of search to find Methods or Algorithms for adding as Action for class.
                <% elsif type == "container_member_addition" %>
                  In this popup, you can use different types of search to find Classes to include them in container of classes.
                <% elsif type == "folder_item_addition" %>
                  In this popup you can pick any technology to add it to Folder
                <% elsif type == "algorithm_form_wrapper_step_addition" %>
                  In this popup you can use different types of search to find Methods and Algorithms to add it as Step content.
                <% elsif type == "interface_group_form_action_addition" %>
                  In this popup you can select technology to add as Action to Action Group
                <% elsif type == "simple_class_attribute_addition" ||
                         type == "simple_class_attribute_form_article_addition" ||
                         type == "simple_class_form_article_to_attribute_attachment" %>
                  In this popup you can select Article to add it as attribute of the model
                <% elsif type == "step_attachment_addition"%>
                  In this popup you can select Article to add it as attachment to the step
                <% elsif type == "unit_version_attachment_addition"%>
                  In this popup you can select Article to add it as attachment to current Method
                <% elsif type == "article_version_attachment_addition"%>
                  In this popup you can select Article to add it as attachment to current Article
                <% elsif type == "cheat_sheet_version_notes_link_attachment_addition" %>
                  In this popup you can select technology to add as Link to Note
                <% elsif type == "cheat_sheet_group_version_section_addition" %>
                  In this popup you can select Cheat Sheet to add it as Section to Cheat Sheet Combo
                <% end %>

              </p>
            </div>


            <% if type == "substep_addition" ||
                  type == "dpo_instruction_select" ||
                  type == "interface_member_addition" ||
                  type == "algorithm_form_wrapper_step_addition" %>
              <%= render "shared/technologies_search/modal_bodies/instructions_search_modal_body" %>
            <% elsif type == "container_member_addition" %>
              <%= render "shared/technologies_search/modal_bodies/classes_search_modal_body" %>
            <% elsif type == "folder_item_addition" %>
              <%= render "shared/technologies_search/modal_bodies/technologies_search_modal_body" %>
            <% elsif type == "interface_group_form_action_addition"%>
              <!-- doc: everything that can be considered as action-->
              <%= render "shared/technologies_search/modal_bodies/actions_search_modal_body" %>
            <% elsif type == "simple_class_attribute_addition" ||
                     type == "simple_class_attribute_form_article_addition" ||
                     type == "simple_class_form_article_to_attribute_attachment" %>
              <%= render "shared/technologies_search/modal_bodies/articles_search_modal_body", scenario: "regular" %>
            <% elsif type == "step_attachment_addition" %>
              <%= render "shared/technologies_search/modal_bodies/articles_search_modal_body", scenario: "step_attachment_addition" %>
            <% elsif type == "unit_version_attachment_addition" %>
              <%= render "shared/technologies_search/modal_bodies/articles_search_modal_body", scenario: "unit_version_attachment_addition" %>
            <% elsif type == "article_version_attachment_addition" %>
              <%= render "shared/technologies_search/modal_bodies/articles_search_modal_body", scenario: "article_version_attachment_addition" %>
            <% elsif type == "cheat_sheet_version_notes_link_attachment_addition" %>
              <%= render "shared/technologies_search/modal_bodies/links_search_modal_body", scenario: "cheat_sheet_version_notes_link_attachment_addition" %>
            <% elsif type == "cheat_sheet_group_version_section_addition" %>
              <%= render "shared/technologies_search/modal_bodies/section_search_modal_body", scenario: "cheat_sheet_group_version_section_addition" %>
            <% end %>



            <!-- Modal footer -->
            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
              <button data-action="click->select_instruction_modal#close"
                      type="button"
                      class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Close</button>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>



<!-- Modal toggle -->
<!--    <button data-modal-target="instructionUnitsAutocompleteModal" data-modal-toggle="instructionUnitsAutocompleteModal" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">-->
<!--      Toggle modal-->
<!--    </button>-->

<!-- Main modal -->
<!--    <div id="instructionUnitsAutocompleteModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">-->
<!--      <div class="relative w-full max-w-2xl max-h-full">-->


<!--        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">-->


<!--          <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">-->
<!--            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">-->
<!--              Terms of Service-->
<!--            </h3>-->
<!--            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="defaultModal">-->
<!--              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>-->
<!--              <span class="sr-only">Close modal</span>-->
<!--            </button>-->
<!--          </div>-->


<!--          <div class="p-6 space-y-6">-->
<!--            <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">-->
<!--              With less than a month to go before the European Union enacts new consumer privacy laws for its citizens, companies around the world are updating their terms of service agreements to comply.-->
<!--            </p>-->
<!--            <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">-->
<!--              The European Union’s General Data Protection Regulation (G.D.P.R.) goes into effect on May 25 and is meant to ensure a common set of data rights in the European Union. It requires organizations to notify users as soon as possible of high-risk data breaches that could personally affect them.-->
<!--            </p>-->
<!--          </div>-->


<!--          <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">-->
<!--            <button data-modal-hide="defaultModal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">I accept</button>-->
<!--            <button data-modal-hide="defaultModal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Decline</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
