<%= form_with(model: algorithm) do |form| %>
  <% if algorithm.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(algorithm.errors.count, "error") %> prohibited this algorithm from being saved:</h2>

      <ul>
        <% algorithm.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.fields_for :units do |t| %>
      <%= render "unit_fields", :f => t %>
    <% end %>

    <div>
      <br>
      <%= link_to_add_association "Add Unit", form, :units %>
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
