<div id="dynamic-tree" data-target="simple_class_tree_map.dynamicTree">
  <ul>
    <li class="jstree-open">
      <% binding.pry %>
      <%= render "simple_class/simple_classes/partials/dynamic_tree_view/root_node_menu", simple_class: simple_class %>
      <ul>
        <!-- Part 1.Attributes -->
        <li class="jstree-open">
          <%= render "simple_class/simple_classes/partials/dynamic_tree_view/attributes_menu", attributes: simple_class.simple_class_attributes %>
          <ul>
            <% simple_class.simple_class_attributes.each do |attribute| %>
              <li>
                <%= render "simple_class/simple_classes/partials/dynamic_tree_view/attribute_item", attribute: attribute %>
              </li>
            <% end %>
          </ul>
        </li>


        <!-- Part 2.Actions -->
        <li class="jstree-open">
          <%= render "simple_class/simple_classes/partials/dynamic_tree_view/actions_menu", simple_class: simple_class %>
          <ul>
              <!-- 1.1 One iteration for default Main group -->
              <%= render "simple_class/simple_classes/partials/dynamic_tree_view/interface_group_collection",
                         interface_group: simple_class.root_interface_group, leaf_type: leaf_type %>

              <!-- 1.2 All children of main group -->
              <% if simple_class.root_interface_group.children.count > 0 %>
                <% simple_class.root_interface_group.children.each do |interface_group| %>
                  <%= render "simple_class/simple_classes/partials/dynamic_tree_view/interface_group_collection",
                             interface_group: interface_group, leaf_type: leaf_type %>
                <% end %>
              <% end %>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
