<div id="<%= dom_id improvement %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= improvement.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <%= improvement.content.html_safe %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Sources:</strong>
    <%= improvement.sources.html_safe %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this improvement", improvement, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this improvement', edit_improvement_path(improvement), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
