<!--    <div class="flex justify-center">-->

<%#= render "unit/unit_versions/partials/method_content/version_select_bar", unit_version: unit_version %>

link to source page someere here (opens in new window)

<%= unit_version = @unit_version %>

<div class="max-w-4xl p-4 rounded-lg bg-gray-50 dark:bg-gray-800">
  <!--center -->
  <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
    <div class="mx-auto w-full max-w-4xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
      <div class="mb-4 lg:mb-6 not-format">
        <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white"><%= unit_version.title %></h1>

        <%= render "algorithm/shared/partials/preview/unit/toc", unit_version: unit_version %>
        <br>

      </div>

      <% if unit_version.solves_the_problem.present? %>
        <div class="solves-the-problem-section" id="unit-solves-the-problem-<%= unit_version.id %>">
          # Solves the problem:
          <%= unit_version.solves_the_problem.html_safe %>
        </div>
        <br>
      <% end %>

      <div class="instruction-section" id="unit-instruction-<%= unit_version.id %>">
        # Instruction:
        <%= unit_version.instruction.html_safe %>
      </div>
      <br>

      <% if unit_version.sources.present? %>
        <div class="sources-section" id="unit-sources-<%= unit_version.id %>">
          # Sources:
          <%= unit_version.sources.html_safe %>
        </div>
        <br>
      <% end %>

      <% if unit_version.additional_information.present? %>
        <div class="additional-information-section" id="unit-additional-information-<%= unit_version.id %>">
          # Additional information:
          <%= unit_version.additional_information.html_safe %>
        </div>
        <br>
      <% end %>

<!--      <div class="contribute-section" id="contribute">-->
<!--        <div class="mt-8">-->
<!--          <div class="w-full p-4 border border-gray-200 bg-gray-50 rounded-t-xl dark:border-gray-600 dark:bg-gray-700">-->
<!--            <div class="text-lg lg:text-2xl font-bold text-gray-900 dark:text-white">Contribute</div>-->

<!--            Help us make Encyclopedia better, add improvements and examples.-->
<!--          </div>-->

<!--          <div class="code-preview-wrapper">-->
<!--            <div id="default-button-example" class="flex p-0 bg-white border-gray-200 bg-gradient-to-r code-preview dark:bg-gray-900 border-x dark:border-gray-600">-->
<!--              <div class="p-4 m-5 bg-white dark:bg-gray-900 ">-->
<!--                <div class="w-full h-0 mx-auto bg-white dark:bg-gray-900 iframe-code">-->
                  <%#= link_to "Add new improvement!", new_improvement_path(unit_id: unit_version.unit.id), style: "text-decoration: none", class: "no-underline	 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
                  <%#= link_to "Add new usage example!", new_improvement_path, style: "text-decoration: none", class: "no-underline	 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <br>-->


    </div>
  </div>
</div>
<!--    </div>-->