<div class="included-cheat-sheet-group" id="section-<%=cheat_sheet_group_version.uuid%>">
  <h2 class="text-center break-words mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">
    # <%= cheat_sheet_group_version.title %>
  </h2>

  <!--TOC-->
  <div class="cheat-sheet-group-toc" data-controller="toc_scrolling">
    <br>
    Sections table of content:
    <ul role="list" a="" class="space-y-3 text-base list-none sm:text-lg md:mt-5 md:text-xl">

      <% cheat_sheet_group_version.sections.each do |section| %>
        <% binding.pry %>
        <li>
          <a class="hover:underline hover:text-blue-600 font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster"
             onclick="return false;"
             href="#section-<%=section.sectionable.default_version.uuid%>"
             data-action="click->toc_scrolling#scroll"
             data-anchor="#section-<%=section.sectionable.default_version.uuid%>"
          >
            ↳ <%= section.sectionable.default_version.title %>
          </a>
        </li>
      <% end %>

      <li>
        <a class="font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster" href="#contribute">
          ↳ Contribute
        </a>
      </li>

      <li>
        <a class="font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster" href="#comments">
          ↳ Comments
        </a>
      </li>
    </ul>
  </div>

  <div class="content-section bg-gradient-to-bl from-blue-50 to-violet-50 p-4 rounded-lg">
    <%= cheat_sheet_group_version.description.html_safe %>
  </div>

  <div class="sections">
    <% cheat_sheet_group_version.sections.each do |section| %>
      <% if section.sectionable.class == CheatSheets::CheatSheet %>
        <% binding.pry %>
        <%= render "cheat_sheet_group/cheat_sheet_group_versions/partials/cheat_sheet_content/parts/cheat_sheet",
          cheat_sheet_version: section.sectionable.default_version %>
      <% end %>
    <% end %>
  </div>
</div>
