<div class="included-cheat-sheet">
  <!--TITLE-->
  <% binding.pry %>
  <div class="cheat-sheet-title">
    <div id="section-<%=cheat_sheet_version.uuid%>">
      <h2 class="text-center break-words mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">
        # <%= cheat_sheet_version.title %>
      </h2>
    </div>
  </div>

  <!--TOC-->
  <div class="cheat-sheet-toc" data-controller="toc_scrolling">
    <br>
    Table of content:
    <ul role="list" a="" class="space-y-3 text-base list-none sm:text-lg md:mt-5 md:text-lg">

      <% cheat_sheet_version.notes.each do |note| %>
        <li>
          <a class="hover:underline hover:text-blue-600 font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster"
             onclick="return false;"
             href="#note-<%=note.uuid%>"
             data-action="click->toc_scrolling#scroll"
             data-anchor="#note-<%=note.uuid%>"
          >
            ↳ <%= note.title %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>

  <!--DEVIDER -->
  <hr class="w-48 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700">

  <!--NOTES -->
  <div class="notes-section">
    <% cheat_sheet_version.notes.each do |note| %>
      <div id="note-<%=note.uuid%>">
        <div class="title">
          <h3 class="break-words text-2xl font-bold leading-7 text-gray-900 sm:text-1xl sm:tracking-tight text-center"><%= note.title %></h3>
        </div>
        <div class="comments-section bg-gradient-to-bl from-blue-50 to-violet-50 p-4 rounded-lg">
          <div class="content">
            <%= note.content.html_safe %>
          </div>

          <div class="links">
            <div data-controller="attachment_preview">

              <% binding.pry %>
              <% if note.link_attachments.present? %>
                <div class="step-attachments">
                  <p class="text-xl font-bold hover:text-gray-700">Links:</p>
                  <ul>
                    <% note.link_attachments.each do |attachment| %>
                      <%# if attachment.type == LinkAttachmentsHelper::ARTICLE_ATTACHMENT_TYPE %>
                      <li class="text-body-color mb-4 flex text-base">
                            <span class="text-primary mr-2 flex items-center rounded-full text-base">
                              <svg width="20" height="8" viewBox="0 0 20 8" class="fill-current">
                                <path
                                  d="M19.2188 2.90626L17.0625 0.343758C16.875 0.125008 16.5312 0.0937583 16.2812 0.281258C16.0625 0.468758 16.0312 0.812508 16.2188 1.06251L18.25 3.46876H0.9375C0.625 3.46876 0.375 3.71876 0.375 4.03126C0.375 4.34376 0.625 4.59376 0.9375 4.59376H18.25L16.2188 7.00001C16.0312 7.21876 16.0625 7.56251 16.2812 7.78126C16.375 7.87501 16.5 7.90626 16.625 7.90626C16.7812 7.90626 16.9375 7.84376 17.0312 7.71876L19.1875 5.15626C19.75 4.46876 19.75 3.53126 19.2188 2.90626Z"
                                ></path>
                              </svg>
                            </span>
                        <button type="button"
                                data-action="click->attachment_preview#openModal"
                                data-attachment-uuid="<%= attachment.linkable.uuid %>"
                                data-attachment-type="<%= attachment.type %>"
                                class="hover:underline inline-flex text font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                          <%= attachment.linkable.title %>
                        </button>
                      </li>
                    <% end %>
                  </ul>
                </div>
              <% end %>

              <%= render "shared/attachment_preview/modal", entity: note  %>

            </div>
          </div>

        </div>
      </div>
      <br>
    <% end %>
  </div>

  <!--DEVIDER -->
  <div class="inline-flex items-center justify-center w-full">
    <hr class="w-64 h-1 my-8 bg-gray-200 border-0 rounded dark:bg-gray-700">
    <div class="absolute px-4 -translate-x-1/2 bg-white left-1/2 dark:bg-gray-900">
      <svg class="w-4 h-4 text-gray-700 dark:text-gray-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 14">
        <path d="M6 0H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3H2a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Zm10 0h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3h-1a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Z"/>
      </svg>
    </div>
  </div>
</div>
