<!--      TOC-->
<div class="method-toc" data-controller="toc_scrolling">
  <br>
  Table of content:
  <ul role="list" a="" class="space-y-3 text-base list-none sm:text-lg md:mt-5 md:text-xl">
    <% if unit_version.solves_the_problem.present? %>
      <li>
        <a class="font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster"
           onclick="return false;"
           href=""
           data-action="click->toc_scrolling#scroll"
           data-anchor="#solves-the-problem-<%=unit_version.uniq_key%>"
        >
          ↳ Solves the problem
        </a>
      </li>
    <% end %>

    <% if unit_version.target_audience.present? %>
      <li>
        <a class="font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster"
           onclick="return false;"
           href=""
           data-action="click->toc_scrolling#scroll"
           data-anchor="#target-audience-<%=unit_version.uniq_key%>"
        >
          ↳ Target audience
        </a>
      </li>
    <% end %>

    <% if unit_version.description.present? %>
      <li>
        <a class="font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster"
           onclick="return false;"
           href=""
           data-action="click->toc_scrolling#scroll"
           data-anchor="#description-<%=unit_version.uniq_key%>"
        >
          ↳ Description
        </a>
      </li>
    <% end %>

    <li>
      <a class="font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster"
         onclick="return false;"
         href=""
         data-action="click->toc_scrolling#scroll"
         data-anchor="#instruction-<%=unit_version.uniq_key%>"
      >
        ↳ Instruction
      </a>
    </li>

    <% if unit_version.sources.present? %>
      <li>
        <a class="font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster"
           onclick="return false;"
           href=""
           data-action="click->toc_scrolling#scroll"
           data-anchor="#sources-<%=unit_version.uniq_key%>"
        >
          ↳ Sources
        </a>
      </li>
    <% end %>

    <% if unit_version.additional_information.present? %>
      <li>
        <a class="font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster"
           onclick="return false;"
           href=""
           data-action="click->toc_scrolling#scroll"
           data-anchor="#additional-information-<%=unit_version.uniq_key%>"
        >
          ↳ Additional information
        </a>
      </li>
    <% end %>

    <% if unit_version.usage_examples.any? %>
      <li>
        <a class="font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster"
           onclick="return false;"
           href=""
           data-action="click->toc_scrolling#scroll"
           data-anchor="#usage-examples-<%=unit_version.uniq_key%>"
        >
          ↳ Usage examples
        </a>
      </li>
    <% end %>

    <li>
      <a class="font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster"
         onclick="return false;"
         href=""
         data-action="click->toc_scrolling#scroll"
         data-anchor="#contribute-<%=unit_version.uniq_key%>"
      >
        ↳ Contribute
      </a>
    </li>

    <li>
      <a class="font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster"
         onclick="return false;"
         href=""
         data-action="click->toc_scrolling#scroll"
         data-anchor="#comments-<%=unit_version.uniq_key%>"
      >
        ↳ Comments
      </a>
    </li>

  </ul>
</div>