<!--    Sorting -->
<button id="dropdownRadioHelperButtonSortingOne-<%=unit_version.unit.uniq_key%>"
        data-dropdown-toggle="dropdownRadioHelperSortingOne-<%=unit_version.unit.uniq_key%>"
        class="inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-3 py-1.5 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
        type="button">Selected tutorial version: <%= unit_version.title %>
  <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
  </svg>
</button>

<!-- Dropdown menu -->
<div id="dropdownRadioHelperSortingOne-<%=unit_version.unit.uniq_key%>"
     class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-60 dark:bg-gray-700 dark:divide-gray-600">
  <ul class="p-3 space-y-1 text-sm text-gray-700 dark:text-gray-200"
      aria-labelledby="dropdownRadioHelperButtonSortingOne-<%=unit_version.unit.uniq_key%>">


    <% unit_version.unit.unit_versions.each do |unit_version|  %>

      <li>
        <%= link_to unit_unit_version_path(id: unit_version.id),
                   style: "text-decoration: none",
                   class: "w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" do %>

          <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
            <div class="ml-2 text-sm">
              <div class="font-medium text-gray-900 dark:text-gray-300">
                <div><%=unit_version.title %></div>
                <p id="helper-radio-text-1-<%=unit_version.id %>" class="text-xs font-normal text-gray-500 dark:text-gray-300">Some helpful instruction goes over here.</p>
              </div>
            </div>
          </div>
        <% end %>
      </li>

    <% end %>

  </ul>
</div>