<div class="interface-group" data-controller="interface_group_management_options_button">
  <!--title-->
    <%= link_to interface_group_path(ownername: interface_group.related_simple_class.ownerable.ownername, id: interface_group.slug),
                class: "text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-1xl sm:tracking-tight text-center" do %>
      <h2 id="interface-group-<%= interface_group.id %>">
        # <%= interface_group.title %>:
      </h2>
    <% end %>
  <br>

  <!--actions group description-->
  <div class="shadow-lg rounded-lg bg-white mx-auto p-4 notification-box">
    <div class="text-sm text-gray-600  tracking-tight ">
      <%= interface_group.description.html_safe %>
    </div>
  </div>
  <br>


  <!--preview container -->
  <div class="actions-preview-container" data-controller="add_action_options_modal">
    <div class="relative col-start-2 col-end-3 lg:col-end-3 row-start-2 row-end-3 lg:row-start-3 lg:row-end-4 self-center pl-8 sm:px-6 md:px-8 pt-6 md:pt-8 lg:px-0 lg:pt-0">
      <div class="relative bg-white rounded-tl-xl sm:rounded-t-xl lg:rounded-xl shadow-lg divide-y divide-gray-100">

        <!--  TODO REDO THIS TABS ON EXTERNAL STIMULUS JS LIBRARY, FLOWBITE IS BROKEN -->
        <!--tabs -->
        <nav class="p-4 text-sm font-medium">
          <ul class="flex space-x-2" id="interface-group-tab-<%= interface_group.id %>"
              data-tabs-toggle="#myTabContentInterfaceGroup<%= interface_group.id %>" role="tablist">
            <li>
              <div class="px-4 py-2 rounded-md bg-amber-100 text-amber-700 cursor-pointer"
                   id="featured-tab-<%= interface_group.id %>"
                   data-tabs-target="#featured-<%= interface_group.id %>"
                   type="button"
                   role="tab"
                   aria-controls="featured-<%= interface_group.id %>"
                   aria-selected="true">Featured
              </div>
            </li>
            <li>
              <div class="px-4 py-2 cursor-pointer"
                   id="popular-tab-<%= interface_group.id %>"
                   data-tabs-target="#popular-<%= interface_group.id %>"
                   type="button"
                   role="tab"
                   aria-controls="popular-<%= interface_group.id %>"
                   aria-selected="false">Popular
              </div>
            </li>
            <li>
              <div class="px-4 py-2 cursor-pointer"
                   id="recent-tab-<%= interface_group.id %>"
                   data-tabs-target="#recent-<%= interface_group.id %>"
                   type="button"
                   role="tab"
                   aria-controls="recent-<%= interface_group.id %>"
                   aria-selected="false">Recent
              </div>
            </li>
            <li style="margin-left: auto;">
              <%= render "simple_class/simple_classes/partials/content/middle_bar_partials/interface_groups/manage_options_button",
                         interface_group: interface_group %>
            </li>
          </ul>
        </nav>

        <div id="myTabContentInterfaceGroup<%= interface_group.id %>">
          <div class="bg-gray-50 p-4 rounded-lg dark:bg-gray-800"
               id="featured-<%= interface_group.id %>"
               role="tabpanel"
               aria-labelledby="featured-tab-<%= interface_group.id %>">
            <%= render "simple_class/simple_classes/partials/content/middle_bar_partials/interface_groups/interface_members_list",
                       interface_group: interface_group %>
            111
          </div>
          <div class="bg-gray-50 p-4 rounded-lg dark:bg-gray-800 hidden"
               id="popular-<%= interface_group.id %>"
               role="tabpanel"
               aria-labelledby="popular-tab-<%= interface_group.id %>">
            <%= render "simple_class/simple_classes/partials/content/middle_bar_partials/interface_groups/interface_members_list",
                       interface_group: interface_group %>
            222
          </div>
          <div class="bg-gray-50 p-4 rounded-lg dark:bg-gray-800 hidden"
               id="recent-<%= interface_group.id %>"
               role="tabpanel"
               aria-labelledby="recent-tab-<%= interface_group.id %>">
            <%= render "simple_class/simple_classes/partials/content/middle_bar_partials/interface_groups/interface_members_list",
                       interface_group: interface_group %>
            333
          </div>
          <!--          <div class="bg-gray-50 p-4 rounded-lg dark:bg-gray-800" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">-->
          <!--            <p class="text-gray-500 dark:text-gray-400 text-sm">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Dashboard tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>-->
          <!--          </div>-->
          <!--          <div class="bg-gray-50 p-4 rounded-lg dark:bg-gray-800 hidden" id="settings" role="tabpanel" aria-labelledby="settings-tab">-->
          <!--            <p class="text-gray-500 dark:text-gray-400 text-sm">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Settings tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>-->
          <!--          </div>-->
          <!--          <div class="bg-gray-50 p-4 rounded-lg dark:bg-gray-800 hidden" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">-->
          <!--            <p class="text-gray-500 dark:text-gray-400 text-sm">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Contacts tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>-->
          <!--          </div>-->
        </div>


      </div>
    </div>

  </div>

  <%= render "simple_class/simple_classes/partials/add_new_action_options_modal",
             type: "interface_group_options_button",
             target_interface_group: interface_group %>

  <% binding.pry %>
  <%= render "simple_class/simple_classes/partials/delete_actions_group_modal", target_interface_group: interface_group %>

  <%= link_to 'Edit Actions Group', edit_simple_class_interface_group_path(interface_group),
              class: "",
              style: "display:none;",
              data: {target: "interface_group_management_options_button.removeActionsOriginalButton" }

  %>


</div>
<hr class="w-48 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700">




<!-- This is an example component -->
<!--<div class="max-w-2xl mx-auto">-->

<!--  <div class="border-b border-gray-200 dark:border-gray-700 mb-4">-->
<!--    <ul class="flex flex-wrap -mb-px" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">-->
<!--      <li class="mr-2" role="presentation">-->
<!--        <button class="inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-400 dark:hover:text-gray-300"-->
<!--                id="profile-tab"-->
<!--                data-tabs-target="#profile"-->
<!--                type="button"-->
<!--                role="tab"-->
<!--                aria-controls="profile"-->
<!--                aria-selected="false">Profile-->
<!--        </button>-->
<!--      </li>-->
<!--      <li class="mr-2" role="presentation">-->
<!--        <button class="inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-400 dark:hover:text-gray-300 active" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="true">Dashboard</button>-->
<!--      </li>-->
<!--      <li class="mr-2" role="presentation">-->
<!--        <button class="inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-400 dark:hover:text-gray-300" id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Settings</button>-->
<!--      </li>-->
<!--      <li role="presentation">-->
<!--        <button class="inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-400 dark:hover:text-gray-300" id="contacts-tab" data-tabs-target="#contacts" type="button" role="tab" aria-controls="contacts" aria-selected="false">Contacts</button>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--  <div id="myTabContent">-->
<!--    <div class="bg-gray-50 p-4 rounded-lg dark:bg-gray-800 hidden" id="profile" role="tabpanel" aria-labelledby="profile-tab">-->
<!--      <p class="text-gray-500 dark:text-gray-400 text-sm">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Profile tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>-->
<!--    </div>-->
<!--    <div class="bg-gray-50 p-4 rounded-lg dark:bg-gray-800" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">-->
<!--      <p class="text-gray-500 dark:text-gray-400 text-sm">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Dashboard tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>-->
<!--    </div>-->
<!--    <div class="bg-gray-50 p-4 rounded-lg dark:bg-gray-800 hidden" id="settings" role="tabpanel" aria-labelledby="settings-tab">-->
<!--      <p class="text-gray-500 dark:text-gray-400 text-sm">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Settings tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>-->
<!--    </div>-->
<!--    <div class="bg-gray-50 p-4 rounded-lg dark:bg-gray-800 hidden" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">-->
<!--      <p class="text-gray-500 dark:text-gray-400 text-sm">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Contacts tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>-->
<!--    </div>-->
<!--  </div>-->

<!--  <p class="mt-5">This tabs component is part of a larger, open-source library of Tailwind CSS components. Learn more by going to the official <a class="text-blue-600 hover:underline" href="#" target="_blank">Flowbite Documentation</a>.</p>-->
<!--</div>-->
