<!--// Decorator for each technology?-->

<div class="py-2 border-t-2 border-gray-100">
  <div class="flex flex-wrap lg:flex-nowrap items-center">
    <div class="w-full lg:w-auto px-4 mb-8 lg:mb-0">
      <img src="/_next/static/media/jucy-beef-burger.346917d5ccb0b705233bb1665ffb63f6.jpg" loading="lazy" alt="" width="144" height="144" class="flex-none w-18 h-18 rounded-lg object-cover bg-gray-100">
    </div>

    <div class="w-full lg:w-9/12 px-4 mb-10 lg:mb-0">
      <div class="max-w-2xl">

        <div class="absolute top-0 right-0 rounded-full bg-amber-50 text-amber-900 px-2 py-0.5 hidden sm:flex lg:hidden xl:flex items-center space-x-1"><dt class="text-amber-500"><span class="sr-only">Rating</span><svg width="16" height="20" fill="currentColor"><path d="M7.05 3.691c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.372 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.539 1.118l-2.8-2.034a1 1 0 00-1.176 0l-2.8 2.034c-.783.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.363-1.118L.98 9.483c-.784-.57-.381-1.81.587-1.81H5.03a1 1 0 00.95-.69L7.05 3.69z"></path></svg></dt><dd>4.94</dd></div>

        <div class="technology-last-update-time">
          <span class="block text-gray-400 mb-1"><%= technology_member.updated_at.strftime("%B %d, %Y")%></span>
        </div>

        <div class="technology-title">
          <p class="text-base sm:text-lg lg:text-base xl:text-lg font-semibold text-black mb-0.5"><%= technology_member.title %></p>
        </div>

        <div class="technology-type">
          <p class="text-base sm:text-lg lg:text-base xl:text-lg font-semibold text-black mb-0.5"><%= technology_member.class %></p>
        </div>

        <div class="technology-description">
          <% if technology_member.try(:source_page_description).present? %>
            <p class="text-sm	 text-gray-900"><%= truncate(technology_member.source_page_description, length: 170, omission: '...', :escape => false) %></p>
          <% else %>
            <p class="text-sm	 text-gray-900"><%= truncate(technology_member.try(:description), length: 170, omission: '...', :escape => false) %></p>
          <% end %>
        </div>

        <div class="technology-author">
          <div class="text-sm	flex-none w-full mt-0.5 font-normal">
            <dt class="inline">By</dt>
            <dd class="inline text-black">Hank Douglas</dd>
          </div>
        </div>

      </div>
    </div>

    <div class="w-full lg:w-auto px-4 ml-auto text-right">
      <%= technology_item_link_to technology_member, :target => "_blank", class: "inline-flex items-center text-xl font-semibold text-orange-900 hover:text-gray-900" do %>
        <span class="mr-2">Read</span>
        <svg class="animate-bounce" width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.33301 14.6668L14.6663 1.3335" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          <path d="M1.33301 1.3335H14.6663V14.6668" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
      <% end %>
    </div>
  </div>
</div>

