<!--interface groups section -->
<div class="interface-groups-section">

  <hr class="w-48 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700">
  <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-1xl sm:tracking-tight text-center" id="class-attributes">Attributes:</h2>
  <br>

  <!--preview container -->
  <div class="actions-preview-container" data-controller="add_action_options_modal">
    <div class="relative col-start-2 col-end-3 lg:col-end-3 row-start-2 row-end-3 lg:row-start-3 lg:row-end-4 self-center pl-8 sm:px-6 md:px-8 pt-6 md:pt-8 lg:px-0 lg:pt-0">
      <div class="relative z-10 bg-white rounded-tl-xl sm:rounded-t-xl lg:rounded-xl shadow-lg divide-y divide-gray-100">

        <!--tabs -->
        <nav class="p-4 text-sm font-medium">
          <ul class="flex space-x-2" id="interface-group-tab-<%= simple_class.id %>"
              data-tabs-toggle="#myTabContentInterfaceGroup<%= simple_class.id %>" role="tablist">
            <li>
              <div class="px-4 py-2 rounded-md bg-amber-100 text-amber-700 cursor-pointer"
                   style="display:none"
                   id="featured-tab-<%= simple_class.id %>"
                   data-tabs-target="#featured-<%= simple_class.id %>"
                   type="button"
                   role="tab"
                   aria-controls="featured-<%= simple_class.id %>"
                   aria-selected="false">Featured
              </div>
            </li>
            <li style="margin-left: auto;">
              <%= render "simple_class/simple_classes/partials/content/middle_bar_partials/class_attributes/manage_options_button",
                         simple_class: simple_class %>
            </li>
          </ul>
        </nav>

        <div id="myTabContentInterfaceGroup<%= simple_class.id %>">
          <div class="bg-gray-50 p-4 rounded-lg dark:bg-gray-800 hidden"
               id="featured-<%= simple_class.id %>"
               role="tabpanel"
               aria-labelledby="featured-tab-<%= simple_class.id %>">
            <%= render "simple_class/simple_classes/partials/content/middle_bar_partials/class_attributes/attributes_list",
                       simple_class: simple_class %>
          </div>
        </div>


      </div>
    </div>

  </div>

</div>