<!--      TOC-->
<div class="algorithm-toc" data-controller="toc_scrolling" data-toc_scrolling-type-value="<%=toc_type%>">
  <br>
  Table of content:
  <ul role="list" a="" class="space-y-3 text-base list-none sm:text-lg md:mt-5 md:text-xl">

    <% if step.description.present? %>
      <li>
        <a class="hover:underline hover:text-blue-600 font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster"
           onclick="return false;"
           href="#step-description-<%= step.uuid %>"
           data-action="click->toc_scrolling#scroll"
           data-anchor="#step-description-<%= step.uuid %>"
        >
          ↳ Description
        </a>
      </li>
    <% end %>

    <% if step.solves_the_problem.present? %>
      <li>
        <a class="hover:underline hover:text-blue-600 font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster"
           onclick="return false;"
           href="#step-solves-the-problem-<%= step.uuid %>"
           data-action="click->toc_scrolling#scroll"
           data-anchor="#step-solves-the-problem-<%= step.uuid %>"
        >
          ↳ Solves the problem
        </a>
      </li>
    <% end %>

    <% if step.instruction.present? %>
      <li>
        <a class="hover:underline hover:text-blue-600 font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster"
           onclick="return false;"
           href="#step-instruction-<%= step.uuid %>"
           data-action="click->toc_scrolling#scroll"
           data-anchor="#step-instruction-<%= step.uuid %>"
        >
          ↳ Content
        </a>
      </li>
    <% end %>

    <% if step.step_finish_check.present? %>
      <li>
        <a class="hover:underline hover:text-blue-600 font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster"
           onclick="return false;"
           href="#step-finish-check-<%= step.uuid %>"
           data-action="click->toc_scrolling#scroll"
           data-anchor="#step-finish-check-<%= step.uuid %>"
        >
          ↳ Step finish check
        </a>
      </li>
    <% end %>

    <% if step.sources.present? %>
      <li>
        <a class="hover:underline hover:text-blue-600 font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster"
           onclick="return false;"
           href="#step-sources-<%= step.uuid %>"
           data-action="click->toc_scrolling#scroll"
           data-anchor="#step-sources-<%= step.uuid %>"
        >
          ↳ Step sources
        </a>
      </li>
    <% end %>


    <% if step.additional_information.present? %>
      <li>
        <a class="hover:underline hover:text-blue-600 font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster"
           onclick="return false;"
           href="#step-additional-information-<%= step.uuid %>"
           data-action="click->toc_scrolling#scroll"
           data-anchor="#step-additional-information-<%= step.uuid %>"
        >
          ↳ Additional information
        </a>
      </li>
    <% end %>


    <li>
      <a class="hover:underline hover:text-blue-600 font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster"
         onclick="return false;"
         href="#contribute-<%= step.uuid %>"
         data-action="click->toc_scrolling#scroll"
         data-anchor="#contribute-<%= step.uuid %>"
      >
        ↳ Contribute
      </a>
    </li>

    <li>
      <a class="hover:underline hover:text-blue-600 font-light text-waterloo dark:text-santa hover:text-oyster dark:hover:text-oyster"
         onclick="return false;"
         href="#comments-<%= step.uuid %>"
         data-action="click->toc_scrolling#scroll"
         data-anchor="#comments-<%= step.uuid %>"
      >
        ↳ Comments
      </a>
    </li>
  </ul>
</div>