<!--TODO: add dynamic view behavior, we chaning version and content changes-->
<!--unit view async version changer -->

<div class="max-w-6xl p-4 rounded-lg bg-gray-50 dark:bg-gray-800" data-controller="content_area" data-target="content_area.area">
  <!--center -->
  <div class="flex justify-between px-4 mx-auto max-w-screen-xl">
    <div class="w-full format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
      <div class="mb-4 lg:mb-6 not-format p-3">
        <% binding.pry %>
        <h1 id="section-<%=unit_version.uuid%>" class="break-words mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">
          # <%= unit_version.title %>
        </h1>

        <!-- submenu -->
        <div class="mt-1 flex flex-col space-x-4 sm:mt-0 sm:flex-row sm:flex-wrap sm:space-x-6">
          <div class="mt-2 flex items-center text-sm">
            <%= render "unit/unit_versions/partials/method_content/submenu/version_select_bar", unit_version: unit_version %>
          </div>

          <div class="mt-2 flex items-center text-sm">
            <%= render "unit/unit_versions/partials/method_content/submenu/copy_to_clipboard", unit_version: unit_version %>
          </div>

          <div class="mt-2 flex items-center text-sm text-gray-500">
            <%= render "unit/unit_versions/partials/method_content/submenu/options_dropdown",
                       unit_version: unit_version %>
          </div>

          <div class="mt-2 flex items-center text-sm text-gray-500">
            (Link to source page)
          </div>
        </div>

        <%= render "unit/unit_versions/partials/method_content/toc", unit_version: unit_version %>
        <br>
      </div>

      <% if unit_version.solves_the_problem.present? %>
        <div class="break-words solves-the-problem-section" id="solves-the-problem-<%=unit_version.uniq_key%>">
          # Solves the problem:
          <%= unit_version.solves_the_problem.html_safe %>
        </div>
        <br>
      <% end %>

      <% if unit_version.target_audience.present? %>
        <div class="break-words target-audience-section" id="target-audience-<%=unit_version.uniq_key%>">
          # Target audience:
          <%= unit_version.target_audience.html_safe %>
        </div>
        <br>
      <% end %>

      <% if unit_version.description.present? %>
        <div class="break-words description-section" id="description-<%=unit_version.uniq_key%>">
          # Description:
          <%= unit_version.description.html_safe %>
        </div>
        <br>
      <% end %>

      <div class="break-words instruction-section" id="instruction-<%=unit_version.uniq_key%>">
        # Instruction:
        <%= unit_version.instruction.html_safe %>
      </div>
      <br>

      <% if unit_version.sources.present? %>
        <div class="break-words sources-section" id="sources-<%=unit_version.uniq_key%>">
          # Sources:
          <%= unit_version.sources.html_safe %>
        </div>
        <br>
      <% end %>

      <% if unit_version.additional_information.present? %>
        <div class="break-words additional-information-section" id="additional-information-<%=unit_version.uniq_key%>">
          # Additional information:
          <%= unit_version.additional_information.html_safe %>
        </div>
        <br>
      <% end %>


      <div class="attachments" data-controller="attachment_preview">
        <%= render "unit/unit_versions/partials/method_content/attachments", unit_version: unit_version %>
        <%= render "shared/attachment_preview/modal", entity: unit_version %>
      </div>

      <%= render "unit/unit_versions/partials/method_content/usage_examples", unit_version: unit_version %>

      <%= render "unit/unit_versions/partials/method_content/contribute", unit_version: unit_version %>
      <br>

      <!-- TODO: add link for discussion -->
      <%#= render "comments/index", commentable: @commentable, comment: @comment, scenario: "unit_page" %>

    </div>
  </div>
</div>
<!--DEVIDER -->
<div class="inline-flex items-center justify-center w-full">
  <hr class="w-64 h-1 my-8 bg-gray-200 border-0 rounded dark:bg-gray-700">
  <div class="absolute px-4 -translate-x-1/2 bg-white left-1/2 dark:bg-gray-900">
    <svg class="w-4 h-4 text-gray-700 dark:text-gray-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 14">
      <path d="M6 0H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3H2a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Zm10 0h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3h-1a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Z"/>
    </svg>
  </div>
</div>
<!--<div class="inline-flex items-center justify-center w-full">-->
<!--  <hr class="w-64 h-1 my-8 bg-gray-200 border-0 rounded dark:bg-gray-700">-->
<!--  <div class="absolute px-4 -translate-x-1/2 bg-white left-1/2 dark:bg-gray-900">-->
<!--    <svg class="w-4 h-4 text-gray-700 dark:text-gray-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 14">-->
<!--      <path d="M6 0H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3H2a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Zm10 0h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3h-1a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Z"/>-->
<!--    </svg>-->
<!--  </div>-->
<!--</div>-->
