<div class="profile-page">
  <div class="bg-gray-100 bg-opacity-25">
    <div class="lg:w-12/12 lg:mx-auto mb-8">
      <header class="flex flex-wrap items-center p-4 md:py-8">

        <!-- profile image -->
        <div class="md:w-3/12 md:ml-16">
          <% if @target_user.cropped_avatar.present? %>
            <div class="">
              <%= image_tag settings_edit_user_avatar(@target_user), class: "w-20 h-20 md:w-40 md:h-40 object-cover rounded-full
                     border-2 border-pink-600 p-1" %>
            </div>
          <% end %>
        </div>

        <!-- profile meta -->
        <div class="w-8/12 md:w-7/12 ml-4">
          <div class="md:flex md:flex-wrap md:items-center mb-4">
            <h2 class="text-3xl inline-block font-light md:mr-2 mb-2 sm:mb-0">
              <%= @target_user.username  %>
            </h2>

            <!-- badge -->
            <span class="inline-block fas fa-certificate fa-lg text-blue-500
                               relative mr-6 text-xl transform -translate-y-2" aria-hidden="true">
              <i class="fas fa-check text-white text-xs absolute inset-x-0
                                 ml-1 mt-px"></i>
            </span>

            <!-- follow button -->
            <a href="#" class="bg-blue-500 px-2 py-1
                        text-white font-semibold text-sm rounded block text-center
                        sm:inline-block block">Button number one</a>
          </div>

          <!-- post, following, followers list for medium screens -->
          <ul class="hidden md:flex space-x-8 mb-4">
            <li>
              <span class="font-semibold">136</span>
              posts
            </li>

            <li>
              <span class="font-semibold">40.5k</span>
              followers
            </li>
            <li>
              <span class="font-semibold">302</span>
              following
            </li>
          </ul>

          <!-- user meta form medium screens -->
          <div class="hidden md:block">
            <h1 class="font-semibold"><%= @target_user.username %></h1>
            <p><%= @target_user.biography.html_safe %></p>
          </div>

        </div>

        <!-- user meta form small screens -->
        <div class="md:hidden text-sm my-2">
          <h1 class="font-semibold">Mr Travlerrr...</h1>
          <span>Travel, Nature and Music</span>
          <p>Lorem ipsum dolor sit amet consectetur</p>
        </div>

      </header>

      <!-- posts -->
      <div class="px-px md:px-3">

        <!-- user following for mobile only -->
        <ul class="flex md:hidden justify-around space-x-8 border-t
                text-center p-2 text-gray-600 leading-snug text-sm">
          <li>
            <span class="font-semibold text-gray-800 block">136</span>
            posts
          </li>

          <li>
            <span class="font-semibold text-gray-800 block">40.5k</span>
            followers
          </li>
          <li>
            <span class="font-semibold text-gray-800 block">302</span>
            following
          </li>
        </ul>

        <%= render "dashboards/partials/tabs" %>

      </div>
    </div>
  </div>
</div>
