<div id="<%= dom_id simple_object %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= simple_object.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= simple_object.description %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this simple object", simple_object, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this simple object', edit_simple_object_path(simple_object), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
