<li class="jstree-open aaa">
  <!--   1.1 Header of interface group-->
  <%= render "simple_class/simple_classes/partials/dynamic_tree_view/interface_group_item",
             interface_group: interface_group, leaf_type: leaf_type %>
  <ul>
    <!--   1.2 Child interface groups -->
    <li class="jstree-open bbb">
      <%= render "simple_class/simple_classes/partials/dynamic_tree_view/interface_groups_menu",
                 interface_group: interface_group %>
      <ul>
        <% interface_group.groups.each do |child_interface_group| %>
            <%= render "simple_class/simple_classes/partials/dynamic_tree_view/interface_group_iterator",
                       interface_group: child_interface_group, leaf_type: leaf_type %>
        <% end %>
      </ul>
    </li>

    <!--   1.3 Technologies of interface group-->
    <li class="jstree-open ccc">
      <%= render "simple_class/simple_classes/partials/dynamic_tree_view/technologies_menu",
                 interface_group: interface_group %>
      <ul>
        <% interface_group.interface_members.each do |interface_member| %>
          <li>
            <%= render "simple_class/simple_classes/partials/dynamic_tree_view/interface_member_item",
                       interface_member: interface_member, leaf_type: leaf_type %>
          </li>
        <% end %>
      </ul>
    </li>
  </ul>
</li>