<!-- Part 1.Control structures -->
<% if leafe.referenced_control_structure_functional_type.present? %>
  <% if AlgorithmsNavigation::AlgorithmTrees::ReferencedControlStructureFunctionalTypes[leafe.referenced_control_structure_functional_type] == "initial_template" %>
    <!-- continue with children records -->
    <% leafe.children.each do |child_leafe| %>
      <!--  DOC: Warning! Recursion-->
      <%= render "algorithm_reports/algorithm_execution_tree_map/tree_map_content/leaves_iterator", leafe: child_leafe, current_leafe: current_leafe %>
    <% end %>
  <% end  %>
<% end %>

<!-- Part 2.Steps -->
<% if leafe.referenced_step_functional_type.present? %>

  <!--    1.REGULAR STEP -->
  <% if AlgorithmsNavigation::AlgorithmTrees::ReferencedStepFunctionalTypes[leafe.referenced_step_functional_type] == Algorithms::Nodes::Step::REGULAR_STEP_TYPE %>
    <% binding.pry %>
    <li>
      <%= render "algorithm_reports/algorithm_execution_tree_map/tree_map_content/leaves/steps/regular", leafe: leafe, current_leafe: current_leafe %>
    </li>

  <!--    2. WRAPPER STEP TYPE -->
  <% elsif AlgorithmsNavigation::AlgorithmTrees::ReferencedStepFunctionalTypes[leafe.referenced_step_functional_type] == Algorithms::Nodes::Step::WRAPPER_STEP_TYPE %>
    <li class="jstree-open">
      <% binding.pry %>
      <!-- referencable-->
      <% if leafe.referencable.technologiable.class == Algorithms::Algorithm %>
        <% algorithm = leafe.referencable.technologiable %>
        <% algorithm.algorithm_versions.each do |algorithm_version| %>

          <ul>
            <li class="jstree-open">
              <% binding.pry %>
              <!--   1.Header for all algorithm with stats -->
              <%= render "algorithm_reports/algorithm_execution_tree_map/tree_map_content/root_node_menu",
                         algorithm_version: algorithm_version %>
              <ul>
                <li class="jstree-open">
                  <%# if scenario == "algorithm_report_step_show_page" %>
                    <%= render "algorithm_reports/algorithm_execution_tree_map/tree_map_content/leaves/steps/introduction_step",
                               algorithm_version: algorithm_version, current_step: current_leafe %>
                  <%# end %>
                </li>
                <!-- 2.Iteration over steps to show each step of algorithm -->
                <li class="jstree-open">
                  <%= render "algorithm_reports/algorithm_execution_tree_map/tree_map_content/steps_menu",
                             algorithm_version: algorithm_version %>
                  <ul>
                    <% binding.pry %>
                    <% tree_root = algorithm_version.algorithm_tree.tree_root %>
                    <% tree_root.children.each do |leafe| %>
                      <%= render "algorithm_reports/algorithm_execution_tree_map/tree_map_content/leaves_iterator",
                                 leafe: leafe, current_leafe: current_leafe %>
                      <%#= render "simple_class/simple_classes/partials/dynamic_tree_view/attribute_item", attribute: attribute %>
                    <% end %>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>

        <% end %>
      <% else %>
        <%= render "algorithm_reports/algorithm_execution_tree_map/tree_map_content/leaves/steps/wrapper", leafe: leafe, current_leafe: current_leafe %>
      <% end %>
    </li>

  <!--    3. CONTAINER STEP TYPE -->
  <% elsif AlgorithmsNavigation::AlgorithmTrees::ReferencedStepFunctionalTypes[leafe.referenced_step_functional_type] == Algorithms::Nodes::Step::CONTAINER_STEP_TYPE %>
    <!--                  1.1 Show node with stats how much substeps it container, description -->
    <!--                  1.2 iterate ower all children right from the start -->
    <li class="jstree-open">
      <%= render "algorithm_reports/algorithm_execution_tree_map/tree_map_content/leaves/steps/container_header",
                 leafe: leafe, current_leafe: current_leafe %>
      <ul>
        <% leafe.children.each do |child_leafe| %>
          <!--  DOC: Warning! Recursion-->
          <%= render "algorithm_reports/algorithm_execution_tree_map/tree_map_content/leaves_iterator", leafe: child_leafe, current_leafe: current_leafe %>
        <% end %>
      </ul>
    </li>
  <% end  %>
<% end %>

