<!DOCTYPE html>
<html>
  <head>
    <title>Objectspace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--    assets for bootstrap 5-->
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <!--    assets for tinymce-->
    <%= tinymce_assets %>
    <script type="text/javascript" src="/assets/tinymce.js"></script>

  </head>

  <%= render "layouts/header"  %>
  <body>
<!--    <main class="container mx-auto mt-28 px-5 flex">-->
    <main class="container mx-auto mt-28 px-5">

      <%= render "layouts/general_notice" %>
      <%= render "layouts/general_alert" %>

      <%= yield %>
    </main>
  </body>
  <%= render "layouts/footer"  %>
</html>
